doctype 5
html.ui-mobile-rendering(lang='en')
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/vendor/jquery-mobile-min/jquery.mobile.min.css')
    script(type='text/javascript', src='/vendor/requirejs/require.js', data-main='/javascripts/app')
  body
    block content
    